.content-i {
  min-height: 100vh;
}

.coin-card.add-wallet {
  z-index: 1000 !important;
}
.coin-card .st-body {
  min-height: 200px;
}

.content-i:after {
  content: '';
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.content-i.adding-wallet:after {
  content: '';
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 800;
  transition: opacity .3s;
}
